# dependencies
/functions
/node_modules
/.pnp
.pnp.js
/.firebase

# testing
/coverage

# production
/build

# misc
.firebaserc
.DS_Store
.env

firebase.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
